body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.banner{
    display: flexbox;
    background-color: burlywood;
    color: black;
    padding: 12px
}
.text{
    position: relative;
    background-color: rgba(red, green, blue, alpha);
    top: 40%;
    margin: auto;
    text-align: center;
    border: double 5px;
    padding: 12px;
    border-radius: 10px;

}
.part{
    text-align: center;
    margin: auto;

}
.name{
    font-weight: bold;
}
img{
    margin-left: 10%;
    width: 15%;
    height: auto;
    border-radius: 50%;
}
h2{
    text-align: center;
    text-decoration: underline;
    color:darkblue
}
.bar{
    display: flex;
}
.sidebar{
    padding: 10px;
    background-color: burlywood;
    width: 25%;
    height: fit-content;
}
.list{
    margin-left: 20px;
}